@use 'variables.scss';

@mixin container {
  width: 85%;
  margin: 0 auto;
}

@mixin text($font-size: 16px) {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
}

@mixin title($font-size: 22px) {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: $font-size;
}
